html{
    font-family:'Product Sans';
}
h1{
    color: blue;
}

.header{
    background-color: rgb(185, 117, 248);
    display: flex;
    justify-content: space-between;
}

.hd1{
    background-color: chocolate;
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game{
    background-color: cyan;
    border: solid black;
}

.social{
    display: flex;
    justify-content: flex-end;
}